/* Generales */
:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
 }

 body {
     margin: 0;
     font-family: 'Quicksand', sans-serif;
 }

 .inactive {
    display: none;
 }

 .primary-button {
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 48px;
}

/* Darken */
.darken
{
  width: 100%;
  height: calc(100%);
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

 /* Navbar */
 .burger-menu {
     display: none;
 }

 .logo {
     width: 150px;
 }

 

 nav {
     display: flex;
     justify-content: space-between;
     padding: 0 24px;
     border-bottom: 1px solid var(--very-light-pink);
 }

 .navbar-left ul,
 .navbar-right ul {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
     align-items: center;
     height: 60px;
 }
 .navbar-left {
     display: flex;
 }
 .navbar-left .navbar-categories {
     margin-left: 48px;
 }
 .navbar-left ul li a,
 .navbar-right ul li a {
     text-decoration: none;
     color: var(--very-light-pink);
     border: 1px solid var(--white);
     padding: 8px 12px;
     border-radius: 8px;
 }
 .navbar-left ul li {
     margin-right: 4px;
 }
 .navbar-left ul li a:hover,
 .navbar-right ul li a:hover {
     border: 1px solid var(--hospital-green);
     color: var(--hospital-green);
 }
 .navbar-email {
    display: flex;
    cursor: pointer;
     color: var(--dark);
     font-size: var(--sm);
     margin-right: 4px;
 }
 .navbar-email img {
    margin-left: 4px;
    padding-top: 4px;
 }
 .navbar-right ul img {
     margin-right: 12px;
 }
 .navbar-shopping-cart {
     position: relative;
     cursor: pointer;
 }
 .navbar-shopping-cart div {
     width: 16px;
     height: 16px;
     background-color: var(--hospital-green);
     border-radius: 50%;
     font-size: var(--sm);
     font-weight: bold;
     position: absolute;
     top: -6px;
     right: -3px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /* Menu desktop */
 .desktop-menu {
    position: absolute;
    top: 50px;
    right: 80px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--text-input-field);
    border-radius: 8px;
    padding: 20px 20px 0 20px;
    z-index: 2;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}

 /* Menu mobile */
.mobile-menu {
    background-color: var(--white);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 8px;
    padding: 20px 20px 0 20px;
    z-index: 2;
}
.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 24px 0 0;
}

.mobile-menu ul:nth-child(1) {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--very-light-pink);
    margin-right: 20px;
}

.mobile-menu ul:nth-child(2) {
    padding-top: 16px;
}

.mobile-menu ul:nth-child(3) {
    position: absolute;
    bottom: 20px;
}

.mobile-menu ul li {
    text-align: start;
}
.mobile-menu ul li a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 24px;
    font-weight: bold;
}
.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300 !important;
}
.mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
}
.burger-menu {
    cursor: pointer;
}

/* Aside shopping cart */
.shopping-cart {
    background-color: var(--white);
    width: 360px;
    padding: 0 24px 24px 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid var(--text-input-field);
    border-radius: 8px;
    z-index: 2;
}
.shopping-cart-header {
    display: flex;
    margin-bottom: 40px;
}
.shopping-cart-header img {
    transform: rotate(180deg);
    margin-right: 16px;
}
.title {
    font-size: var(--lg);
    color: var(--black);
    font-weight: bold;
}
.shopping-cart-item {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    height: 72px;
}
.shopping-cart-item figure {
    margin: 0;
}
.shopping-cart-item figure img {
    width: 72px;
    height: 72px;
    border-radius: 16px;
    object-fit: cover;
}
.shopping-cart-item p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.shopping-cart-item p:nth-child(3) {
    font-size: var(--sm);
    color: var(--dark);
    font-weight: bold;
    text-align: end;
    margin-right: 4px;
}
.shopping-cart-item .shopping-cart-item-close {
    width: 14px;
    margin: 0;
}
/*.shopping-cart-bottom {
    position: absolute;
    bottom: 0;
    width: 300px;
    margin-bottom: 24px;
}*/
.shopping-cart-total {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    padding: 0 24px;
    border-radius: 8px;
}
.shopping-cart-total p:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-size: var(--md);
    font-weight: bold;
    color: var(--black);
}
.shopping-cart-total p:nth-child(2) {
    text-align: end;
    font-size: var(--md);
    color: var(--dark);
    font-weight: bold;
}


/*Product detail*/
.product-detail {
    width: 360px;
    height: 100vh;
    padding-bottom: 24px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--white);
    transition: transform 0.5s ease-in-out;
    z-index: 2;    
}

.product-detail.inactive {
    transform: translateX(100%);/* Lo desplaza completamente hacia la derecha, fuera de la pantalla */
}

.product-detail.active {
    transform: translateX(0); /* Lo devuelve a la posición inicial, en la pantalla */
}

.product-detail-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: var(--white);
    padding: 8px;
    border-radius: 50%;
    border: 1px solid var(--very-light-pink);
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
}

.product-detail-close:hover {
    cursor: pointer;
}
.product-detail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
    position: relative;
}
.dots {
text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--very-light-pink);
    border-radius: 50%;
    display: inline-block;
}

.dots span:nth-child(1) {
    background-color: var(--hospital-green);
}
.product-detail-info {
    margin: 24px 24px 0 24px;
}
.product-detail-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-detail-info p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 24px;
}
.product-detail-info p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Product list*/
.main-container {
    opacity: 1;
    background: var(--text-input-field);
    padding-top: 40px;
    height: 100vh;
    width: 100%;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    gap: 20px;
    place-content: center;
    margin: 0px 20px;
}
.product-card {
    width: 220px;
}
.product-card img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure {
    margin: 0;
}
.product-info figure img {
    width: 40px;
    height: 40px;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin: 0;
    color: var(--very-light-pink);
}

 @media (max-width: 640px) {
    .desktop-menu {
        display: none;
    }
    .burger-menu {
         display: block;
     }
     .navbar-left ul {
         display: none;
     }
     .navbar-email {
         display: none;
     }
     .shopping-cart {
        width: 100%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
    .product-detail {
        width: 100%;
    }
 }

 @media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
 }